# Database
DB_CONNECTION_STRING=Host=HOST;Port=5432;Database=DB_NAME;Username=USER;Password=PASSWORD

# JWT
JWT_SECRET=YOUR_JWT_SECRET
JWT_ISSUER=Finance Tracker API
JWT_AUDIENCE=Finance Tracker UI

# CORS
ALLOWED_ORIGINS=http://localhost:5011

# App
ASPNETCORE_ENVIRONMENT=Production
UI_PORT=5011
