ConnectionStrings__Default=Host=HOST;Port=5432;Database=DB_NAME;Username=USER;Password=PASSWORD

Jwt__Secret=YOUR_JWT_SECRET
Jwt__Issuer=Finance Tracker API
Jwt__Audience=Finance Tracker UI

AllowedOrigins=http://localhost:4200;https://yourdomain.com
