.vs/*
Finance.Tracker.API/bin/*
Finance.Tracker.API/obj/*
Finance.Tracker.Contracts/obj/*
Finance.Tracker.Contracts/bin/*
Finance.Tracker.Entities/obj/*
Finance.Tracker.Entities/bin/*
Finance.Tracker.Presentation/obj/*
Finance.Tracker.Presentation/bin/*
Finance.Tracker.Repository/obj/*
Finance.Tracker.Repository/bin/*
Finance.Tracker.Service.Contracts/obj/*
Finance.Tracker.Service.Contracts/bin/*
Finance.Tracker.Service/bin/*
Finance.Tracker.Service/obj/*
Finance.Tracker.Shared/bin/*
Finance.Tracker.Shared/obj/*
obj/Docker/*